.app__topbar{
  display:flex;
  align-items:center;
  justify-content:space-between;
  height: 52px;
  background: #fff;
  color: #555;
  border-bottom: 1px solid #ddd;
  padding:0 10px
}

.app__topbar-left {
  text-align: center;
}

.app__topright-right {
    text-align: center;
}

.sticky-top {
  width:calc(100% - 20px);
  background:#FB6F4F;
  color: #fff;
  height: 40px;
  opacity: 0.8;
  z-index: 20;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
}