.app__topbar{
  display:flex;
  align-items:center;
  justify-content:space-between;
  height: 35px;
  background: #fff;
  color: #555;
  border-bottom: 1px solid #ddd;
  padding:0 10px
}

.app__topbar-left {
  text-align: center;
}

.app__topright-right {
    text-align: center;
}