// .app__header {
//   margin: 5px auto;
//   height: 60px;
//   padding: 12px 120px;
//   display: flex;
//   flex-direction: row;
//   align-items: center;
//   justify-content: space-between;
// }



// .app__header-logo {
//   margin: 0 10px;
//   width:130px;
// }

// .app__header-searchbar {
//   height: 42px;
//   display: flex;
//   flex-direction: row;
//   align-items: center;
//   flex: 0 1 560px;
//   min-width: 0px;
//   margin: 0 10px;
  
//   a {
//       display: flex;
//       height: 100%;
//       align-items: center;
//   }
// }

// .app__header-postbtn {
 
//   text-align: center;
//   font-size: 16px;
//   width:130px;
//   height: 42px;
//   line-height: 42px;
//   color: #fff;
//   background-color: #ff552e;
//   border-radius:5px;
//   margin: 0 10px;
//   &:hover{
//     background-color: #fb6f4f;
//     // font-size:17px;
//     transition: all 0.2s ;
//     box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
//   }
// }


// .app__header-searchbar-key {
//   display:flex;
//   align-items:center;
//   line-height: 38px;
//   height:38px;
//   width: 100%;
//   padding-left: 8px;
//   border: 2px solid #ff552e;
//   border-radius: 5px 0 0 5px;
//   border-right: 0;
//   background-color: #fff;
//   input {
//     flex:1;
//     overflow: hidden;
//     height:34px;
//     line-height: 38px;
//     font-size: 24px;
//     color: #ccc;
//     border: 0;
//     &:focus {
//       outline: none;
//     }
//     &:focus::placeholder {
//       color: transparent;
//     }
//   }
// }

// .app__header-searchbar-icon{
//   margin-right: 5px;
//   color:gray;
// }


// .app__header-searchbar-btn {
//     // padding:8px;
//     display:flex;
//     align-items:center;
//     justify-content:center;
//     height: 100%;
//     width:90px;
//     background:#ff552e;
//     border:0;
//     border-radius:0 5px 5px 0;
//     cursor: pointer;
//     text-align: center;
//     color: #fff;
//     font-size:1rem;
  
//     &:hover {
//       background-color: #fb6f4f;
//       // font-size: 17px;
//       transition: all .1s ease-in;
//       box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
//     }
// }

// .sticky-top {
//   color: #fff;
//   z-index: 20;
//   position: sticky;
//   top: 0;
//   background-color: #F8F8F8;
//   border-bottom: 1px solid #e4e8ed;
//   transition: border-bottom .2s;
// }


@media (max-width: 950px) {
  .app__header {
    display: block;
    width: 75%;
    height:auto;
  }
  .app__header-postbtn{
    margin:10px auto;
  }
  .app__header-logo{
    margin:10px auto;
  }
}